{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Log in</h1>
        </div>
    </div>
</header>
<div class="row text-center">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <p style="color:red">{{ message }}</p>
      <br>
      {% endfor %}
      {% endif %}
      {% endwith %}
    <div class="col-lg-8 col-md-10 mx-auto content text-left">
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "dark"}) }}
    </div>
</div>
{% include "footer.html" %}